<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKOUT TRACKER</title>
</head>
<body>
    <a href="/workouts">BACK</a>
    <h1><%= workout.day %></h1>
    <h2><%= workout.duration %> mins </h2>
    <a href="/workouts/edit/<%= workout.id %>">Edit</a> 
    <a href="/exercises/<%= workout.id %>">View Exercises</a>
    <a href="/exercises/new/<%= workout.id %>">Add New Exercise</a> 
    

    <form method="POST" action="/workouts/<%= workout.id %>/?_method=DELETE" >
        <input type="submit" value="Delete Workout">
    </form>
</body>
</html> -->



<!-- //============= BULMA =============\\ -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <!-- <a class="navbar-item" href="../"> -->
                            <!-- <img src="../images/bulma.png" alt="Logo"> -->
                        <!-- </a> -->
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://images.ctfassets.net/3s5io6mnxfqz/2CB4n5WmtSajMKNXNOGU3H/a739763a7b04d3f39b53ce885ebf3c65/AdobeStock_95324109_2.jpeg?fm=jpg&w=900&fl=progressive" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            <%= workout.day %>
                        </h1>
                        <h2 class="subtitle is-4">
                            <%= workout.duration %> mins
                        </h2>
                        <br>
                        <a class="button is-medium is-info is-outlined" href="/workouts/edit/<%= workout.id %>">Edit</a>
                        <a class="button is-medium is-info is-outlined" href="/exercises/<%= workout.id %>">View Exercises</a>
                        <a class="button is-medium is-info is-outlined" href="/exercises/new/<%= workout.id %>">Add New Exercise</a>
                        <!-- <form method="POST" action="/workouts/<%= workout.id %>/?_method=DELETE" >
                            <input class="button is-medium is-info is-outlined" type="submit" value="Delete Workout">
                        </form> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <!-- <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </section>
    <script src="../js/bulma.js"></script>
</body>

</html>