<!-- <form method="POST" action="/exercises/<%= exercise.id  %>/?_method=PUT"> 
    <label for="name">Name</label>
    <input type="text" name="name"value=" <%= exercise.name %>  "> 
  
    <label for="weight">Weight</label>
    <input type="text" name="weight"value=" <%= exercise.weight %>  "> 

    <label for="reps">Reps</label>
    <input type="text" name="reps"value=" <%= exercise.reps %>  "> 

    <label for="sets">Sets</label>
    <input type="text" name="sets"value=" <%= exercise.sets %>  "> 

    <label for="bodyGroup">Body Group</label>
    <input type="text" name="bodyGroup"value=" <%= exercise.bodyGroup %>  ">
  
    <input type="submit">
  </form>

  //=============bulma============\\ --> 

  <!DOCTYPE html>
<html>
  <body>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  </head>

  <form method="POST" action="/exercises/<%= exercise.id  %>/?_method=PUT">
    <div class="field">
      <div class="control">
        <label for="name">Name</label>
        <input class="input is-medium is-rounded" type="text" name="name"value=" <%= exercise.name %>  ">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="weight">Weight</label>
        <input class="input is-medium is-rounded" name="weight"value=" <%= exercise.weight %>  ">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="reps">Reps</label>
        <input class="input is-medium is-rounded" type="text" name="reps"value=" <%= exercise.reps %>  ">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="sets">Sets</label>
        <input class="input is-medium is-rounded" type="text" name="sets"value=" <%= exercise.sets %>  ">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="bodyGroup">Body Group</label>
        <input class="input is-medium is-rounded" type="text" name="bodyGroup"value=" <%= exercise.bodyGroup %>  ">
      </div>
    </div>
    <br />
    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
      Edit Exercise
    </button>
  </form>
</body>

  </html>