<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKOUT TRACKER</title>
</head>
<body>
    <a href="/exercises">View All Exercises</a>
    <h1><%= exercise.name %></h1>
    <h2><%= exercise.weight %> </h2>
    <h3><%= exercise.reps %> </h3>
    <h4><%= exercise.sets %> </h4>
    <h5><%= exercise.bodyGroup %> </h5>
    <a href="/exercises/edit/<%= exercise.id %>">Edit</a> 
    

    <form method="POST" action="/exercises/<%= exercise.id %>/?_method=DELETE" >
        <input type="submit" value="Delete Exercise">
    </form>
</body>
</html>